*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.student{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    padding: 12px;
    border: 2px solid hsla(0, 0%, 50%, 0.8);
}
.student p{
    margin: 0;
}